.taskContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  padding-top: 0;
  margin-top: 0;
}

.tasksHeader {

  display: flex;
  flex-direction: row;
}

.taskButton {
  font-size: 15pt;
  margin-top: .5rem;
  background-color: transparent;
  border-color: transparent;
}

.taskButton :hover {
  font-size: 15pt;
  margin-top: .5rem;
  background-color: #0d6efd;
  border-color: transparent;
}

.taskButton :active {
  font-size: 15pt;
  margin-top: .5rem;
  background-color: #0d6efd;
  border-color: transparent;
}

.location {
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  justify-content: center;
}

.task {
  margin-left: 1rem;
}

.taskBreak {
  width: 40%;
}

.dropdown-toggle:after {
  content: none
}