 .box {
   width: 100%;
   min-height: 100vh;
   background-image: url('https://momentum.photos/img/a3cc15a1-fd22-4112-b020-3612dace1d00.jpg?momo_cache_bg_uuid=644b22b7-4fdd-42db-9e74-2f0db506508b');
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover
 }

 .top-row {
   width: 100%;
   min-height: 10vh;
 }

 .top-center {
   width: 100%;
   min-height: 20vh;
   justify-content: center;
 }

 .center {
   width: 100%;
   min-height: 40vh;
   justify-content: center;
   align-content: center;
 }

 .bottom-center {
   width: 100%;
   min-height: 20vh;
   justify-content: center;
 }

 .bottom-row {
   width: 100%;
   min-height: 10vh;
   justify-content: center;
 }