.name {
  font-variant: small-caps;
  color: white;
  font-size: 15px;
  display: flex;
  padding-bottom: 0;

}

.bottom-left {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .bottomLeft {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    font-size: 7px;
  }

  .name {
    font-size: 12px;
  }


}