h1 {
  color: white;


}

.greeting {
  color: white;
  z-index: 2;
  opacity: 60;
  font-size: 120px;
  line-height: 1.5rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}