.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
}

.links {
    background: red!;
    margin: 1rem;
   
}

.btn-primary {
    color: #fff;
    background-color: transparent;
   border-color:transparent;
}

.btn-success{
    background-color: transparent!;
}